
body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


h1 {
    color: #bb86fc;
}


input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #bb86fc;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #ffffff;
}


button {
    padding: 10px 20px;
    background-color: #bb86fc;
    color: #121212;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #3700b3;
}

p#respuesta {
    margin-top: 20px;
    font-size: 18px;
    color: #03dac6;
}